<p id="notice"><%= notice %></p>

<h1>Listing Notifications</h1>

<%= button_to "Send Notification",  notify_notifications_path, data: { confirm: "You sure you want send notification" }, class: 'btn btn-danger' %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Link</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.title %></td>
        <td><%= notification.body %></td>
        <td><%= notification.link %></td>
        <td><%= notification.image_url %></td>
        <td><%= link_to 'Show', notification %></td>
        <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
        <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification', new_notification_path %>
